version: '3.8'

services:
  app:
    build: .
    container_name: security-project-app
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./student_private.pem:/app/student_private.pem
      - ./student_public.pem:/app/student_public.pem
      - ./instructor_public.pem:/app/instructor_public.pem
    environment:
      - TZ=UTC
    restart: always

volumes:
  seed-data: